GroupBy and Aggregate function:

In [0]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("grouby").getOrCreate()
df_pyspark= spark.read.csv("/FileStore/tables/salary.csv",header=True,inferSchema=True)
df_pyspark.display()

name,id,age,department,salary
user1,1,25,Jr manager,98000
user2,2,30,sr manager,100000
user3,6,35,sr manager,100000
user4,4,32,head,70000
user5,1,45,Jr manager,60000
user6,6,47,head2,45000
user7,5,21,worker,25000
user8,1,22,Jr manager,50000
user9,10,54,lead,45000
user10,59,52,lead2,50000
user11,6,25,head2,50000
user12,2,27,sr manager,70000
user13,59,54,lead2,45000
user14,2,25,sr manager,70000
user15,1,32,Jr manager,50000
user16,3,37,worker,25000
user17,74,63,Manager,68000
user18,7,25,head,45000
user19,10,32,lvl2 head,52000
user20,10,32,lvl2 head,52000

In [0]:
df_pyspark.groupBy("department").sum("salary").show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|Jr manager|     258000|
|      head|     115000|
|sr manager|     340000|
|     head2|      95000|
| lvl2 head|     104000|
|      lead|      45000|
|   Manager|      68000|
|    worker|      50000|
|     lead2|      95000|
+----------+-----------+

In [0]:
df_pyspark.groupBy("department").min("salary").show()

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|Jr manager|      50000|
|      head|      45000|
|sr manager|      70000|
|     head2|      45000|
| lvl2 head|      52000|
|      lead|      45000|
|   Manager|      68000|
|    worker|      25000|
|     lead2|      45000|
+----------+-----------+

In [0]:
df_pyspark.groupBy("department").max("salary").show()

+----------+-----------+
|department|max(salary)|
+----------+-----------+
|Jr manager|      98000|
|      head|      70000|
|sr manager|     100000|
|     head2|      50000|
| lvl2 head|      52000|
|      lead|      45000|
|   Manager|      68000|
|    worker|      25000|
|     lead2|      50000|
+----------+-----------+

In [0]:
df_pyspark.groupBy("department").avg("salary").show()

+----------+-----------+
|department|avg(salary)|
+----------+-----------+
|Jr manager|    64500.0|
|      head|    57500.0|
|sr manager|    85000.0|
|     head2|    47500.0|
| lvl2 head|    52000.0|
|      lead|    45000.0|
|   Manager|    68000.0|
|    worker|    25000.0|
|     lead2|    47500.0|
+----------+-----------+

In [0]:
df_pyspark.groupBy("department").mean("salary").show()

+----------+-----------+
|department|avg(salary)|
+----------+-----------+
|Jr manager|    64500.0|
|      head|    57500.0|
|sr manager|    85000.0|
|     head2|    47500.0|
| lvl2 head|    52000.0|
|      lead|    45000.0|
|   Manager|    68000.0|
|    worker|    25000.0|
|     lead2|    47500.0|
+----------+-----------+

In [0]:
df_pyspark.groupBy("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|Jr manager|    4|
|      head|    2|
|sr manager|    4|
|     head2|    2|
| lvl2 head|    2|
|      lead|    1|
|   Manager|    1|
|    worker|    2|
|     lead2|    2|
+----------+-----+

In [0]:
df_pyspark.agg(({"salary":"sum"})).show()

+-----------+
|sum(salary)|
+-----------+
|    1170000|
+-----------+

orderBy() and sort() in Pyspark DataFrame

In [0]:
df_pyspark.sort("salary").show()

+------+---+---+----------+------+
|  name| id|age|department|salary|
+------+---+---+----------+------+
| user7|  5| 21|    worker| 25000|
|user16|  3| 37|    worker| 25000|
| user6|  6| 47|     head2| 45000|
| user9| 10| 54|      lead| 45000|
|user13| 59| 54|     lead2| 45000|
|user18|  7| 25|      head| 45000|
| user8|  1| 22|Jr manager| 50000|
|user10| 59| 52|     lead2| 50000|
|user11|  6| 25|     head2| 50000|
|user15|  1| 32|Jr manager| 50000|
|user19| 10| 32| lvl2 head| 52000|
|user20| 10| 32| lvl2 head| 52000|
| user5|  1| 45|Jr manager| 60000|
|user17| 74| 63|   Manager| 68000|
| user4|  4| 32|      head| 70000|
|user12|  2| 27|sr manager| 70000|
|user14|  2| 25|sr manager| 70000|
| user1|  1| 25|Jr manager| 98000|
| user2|  2| 30|sr manager|100000|
| user3|  6| 35|sr manager|100000|
+------+---+---+----------+------+

In [0]:
df_pyspark.sort("salary").show()

+------+---+---+----------+------+
|  name| id|age|department|salary|
+------+---+---+----------+------+
| user7|  5| 21|    worker| 25000|
|user16|  3| 37|    worker| 25000|
| user6|  6| 47|     head2| 45000|
| user9| 10| 54|      lead| 45000|
|user13| 59| 54|     lead2| 45000|
|user18|  7| 25|      head| 45000|
| user8|  1| 22|Jr manager| 50000|
|user10| 59| 52|     lead2| 50000|
|user11|  6| 25|     head2| 50000|
|user15|  1| 32|Jr manager| 50000|
|user19| 10| 32| lvl2 head| 52000|
|user20| 10| 32| lvl2 head| 52000|
| user5|  1| 45|Jr manager| 60000|
|user17| 74| 63|   Manager| 68000|
| user4|  4| 32|      head| 70000|
|user12|  2| 27|sr manager| 70000|
|user14|  2| 25|sr manager| 70000|
| user1|  1| 25|Jr manager| 98000|
| user2|  2| 30|sr manager|100000|
| user3|  6| 35|sr manager|100000|
+------+---+---+----------+------+

In [0]:
df_pyspark.sort(df_pyspark["salary"].desc()).show()

+------+---+---+----------+------+
|  name| id|age|department|salary|
+------+---+---+----------+------+
| user2|  2| 30|sr manager|100000|
| user3|  6| 35|sr manager|100000|
| user1|  1| 25|Jr manager| 98000|
| user4|  4| 32|      head| 70000|
|user12|  2| 27|sr manager| 70000|
|user14|  2| 25|sr manager| 70000|
|user17| 74| 63|   Manager| 68000|
| user5|  1| 45|Jr manager| 60000|
|user19| 10| 32| lvl2 head| 52000|
|user20| 10| 32| lvl2 head| 52000|
| user8|  1| 22|Jr manager| 50000|
|user10| 59| 52|     lead2| 50000|
|user11|  6| 25|     head2| 50000|
|user15|  1| 32|Jr manager| 50000|
| user6|  6| 47|     head2| 45000|
| user9| 10| 54|      lead| 45000|
|user13| 59| 54|     lead2| 45000|
|user18|  7| 25|      head| 45000|
| user7|  5| 21|    worker| 25000|
|user16|  3| 37|    worker| 25000|
+------+---+---+----------+------+

In [0]:
df_pyspark.sort("salary","Name").show()

+------+---+---+----------+------+
|  name| id|age|department|salary|
+------+---+---+----------+------+
|user16|  3| 37|    worker| 25000|
| user7|  5| 21|    worker| 25000|
|user13| 59| 54|     lead2| 45000|
|user18|  7| 25|      head| 45000|
| user6|  6| 47|     head2| 45000|
| user9| 10| 54|      lead| 45000|
|user10| 59| 52|     lead2| 50000|
|user11|  6| 25|     head2| 50000|
|user15|  1| 32|Jr manager| 50000|
| user8|  1| 22|Jr manager| 50000|
|user19| 10| 32| lvl2 head| 52000|
|user20| 10| 32| lvl2 head| 52000|
| user5|  1| 45|Jr manager| 60000|
|user17| 74| 63|   Manager| 68000|
|user12|  2| 27|sr manager| 70000|
|user14|  2| 25|sr manager| 70000|
| user4|  4| 32|      head| 70000|
| user1|  1| 25|Jr manager| 98000|
| user2|  2| 30|sr manager|100000|
| user3|  6| 35|sr manager|100000|
+------+---+---+----------+------+

In [0]:
df_pyspark.orderBy("salary").show()

+------+---+---+----------+------+
|  name| id|age|department|salary|
+------+---+---+----------+------+
| user7|  5| 21|    worker| 25000|
|user16|  3| 37|    worker| 25000|
| user6|  6| 47|     head2| 45000|
| user9| 10| 54|      lead| 45000|
|user13| 59| 54|     lead2| 45000|
|user18|  7| 25|      head| 45000|
| user8|  1| 22|Jr manager| 50000|
|user10| 59| 52|     lead2| 50000|
|user11|  6| 25|     head2| 50000|
|user15|  1| 32|Jr manager| 50000|
|user19| 10| 32| lvl2 head| 52000|
|user20| 10| 32| lvl2 head| 52000|
| user5|  1| 45|Jr manager| 60000|
|user17| 74| 63|   Manager| 68000|
| user4|  4| 32|      head| 70000|
|user12|  2| 27|sr manager| 70000|
|user14|  2| 25|sr manager| 70000|
| user1|  1| 25|Jr manager| 98000|
| user2|  2| 30|sr manager|100000|
| user3|  6| 35|sr manager|100000|
+------+---+---+----------+------+

join() using pyspark:

In [0]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Example") \
    .getOrCreate()

emp = [
    (1, "Smith", None, "2018", "10", "M", 3000),
    (2, "Rose", 1, "2010", "20", "M", 4000),
    (3, "Williams", 1, "2010", "10", "M", 1000),
    (4, "Jones", 2, "2005", "10", "F", 2000),
    (5, "Brown", 2, "2010", "40", None, None),
    (6, "Brown", 2, "2010", "50", None, None)
]

empColumns = ["emp_id", "name", "superior_emp_id", "year_joined", "emp_dept_id", "gender", "salary"]

empDF = spark.createDataFrame(data=emp, schema=empColumns)
empDF.printSchema()
empDF.show()

dept = [
    ("Finance", 10),
    ("Marketing", 20),
    ("Sales", 30),
    ("IT", 40)
]

deptColumns = ["dept_name", "dept_id"]
deptDF = spark.createDataFrame(data=dept, schema=deptColumns)
deptDF.printSchema()
deptDF.show()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|           NULL|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|  NULL|  NULL|
|     6|   Brown|              2|       2010|         50|  NULL|  NULL|
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

inner join

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner") .show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|           NULL|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|  NULL|  NULL|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
outer join or fullouter

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"outer").show()

left join

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"left").show()

right join

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"right").show()

left-semi

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftsemi").show()

left-anti

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftanti").show()

pivot

In [0]:
df_pyspark.groupBy("department").pivot("Name").sum("salary").show()

+----------+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+-----+-----+-----+-----+-----+
|department|user1|user10|user11|user12|user13|user14|user15|user16|user17|user18|user19| user2|user20| user3|user4|user5|user6|user7|user8|user9|
+----------+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+-----+-----+-----+-----+-----+
|Jr manager|98000|  NULL|  NULL|  NULL|  NULL|  NULL| 50000|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL| NULL|60000| NULL| NULL|50000| NULL|
|      head| NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL| 45000|  NULL|  NULL|  NULL|  NULL|70000| NULL| NULL| NULL| NULL| NULL|
|sr manager| NULL|  NULL|  NULL| 70000|  NULL| 70000|  NULL|  NULL|  NULL|  NULL|  NULL|100000|  NULL|100000| NULL| NULL| NULL| NULL| NULL| NULL|
|     head2| NULL|  NULL| 50000|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL| NULL| NULL|45000| NULL| NULL| NULL|
| lvl2 head| NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL| 52000|  NULL| 52000|  NULL| NULL| NULL| NULL| NULL| NULL| NULL|
|      lead| NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL| NULL| NULL| NULL| NULL| NULL|45000|
|   Manager| NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL| 68000|  NULL|  NULL|  NULL|  NULL|  NULL| NULL| NULL| NULL| NULL| NULL| NULL|
|     lead2| NULL| 50000|  NULL|  NULL| 45000|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL| NULL| NULL| NULL| NULL| NULL| NULL|
|    worker| NULL|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL| 25000|  NULL|  NULL|  NULL|  NULL|  NULL|  NULL| NULL| NULL| NULL|25000| NULL| NULL|
+----------+-----+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+-----+-----+-----+-----+-----+

**Handling Missing Values Pyspark**

In [0]:
df_pyspark1=spark.read.csv("/FileStore/tables/test2.csv",header=True,inferSchema=True)
df_pyspark1.show()

+----------+----+----------+------+
|      Name| age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Shudhanshu|  30|         8| 25000|
|     Sunny|  29|         4| 20000|
|      Paul|  24|         3| 20000|
|    Harsha|  21|         1| 15000|
|   Shubham|  23|         2| 18000|
|    Mahesh|NULL|      NULL|  NULL|
|      NULL|NULL|        10| 40000|
|      NULL|  34|        10| 38000|
|      NULL|NULL|      NULL|  NULL|
|      NULL|  36|      NULL|  NULL|
+----------+----+----------+------+

**Dropping rows based on null values**

In [0]:
df_pyspark1.na.drop().show()

+----------+---+----------+------+
|      Name|age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
|Shudhanshu| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
+----------+---+----------+------+

**drop() has the following parameters — how, thresh, and subset**

In [0]:
df_pyspark1.na.drop(how="all").show()

+----------+----+----------+------+
|      Name| age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Shudhanshu|  30|         8| 25000|
|     Sunny|  29|         4| 20000|
|      Paul|  24|         3| 20000|
|    Harsha|  21|         1| 15000|
|   Shubham|  23|         2| 18000|
|    Mahesh|NULL|      NULL|  NULL|
|      NULL|NULL|        10| 40000|
|      NULL|  34|        10| 38000|
|      NULL|  36|      NULL|  NULL|
+----------+----+----------+------+

In [0]:
df_pyspark1.na.drop(how="any",thresh=2).show()

+----------+----+----------+------+
|      Name| age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Shudhanshu|  30|         8| 25000|
|     Sunny|  29|         4| 20000|
|      Paul|  24|         3| 20000|
|    Harsha|  21|         1| 15000|
|   Shubham|  23|         2| 18000|
|      NULL|NULL|        10| 40000|
|      NULL|  34|        10| 38000|
+----------+----+----------+------+

In [0]:
df_pyspark1.na.drop(how="any",subset=["salary"]).show()

+----------+----+----------+------+
|      Name| age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Shudhanshu|  30|         8| 25000|
|     Sunny|  29|         4| 20000|
|      Paul|  24|         3| 20000|
|    Harsha|  21|         1| 15000|
|   Shubham|  23|         2| 18000|
|      NULL|NULL|        10| 40000|
|      NULL|  34|        10| 38000|
+----------+----+----------+------+

**Filling missing values — Single Value**

In [0]:
df_pyspark1.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|         Krish|  31|        10| 30000|
|    Shudhanshu|  30|         8| 25000|
|         Sunny|  29|         4| 20000|
|          Paul|  24|         3| 20000|
|        Harsha|  21|         1| 15000|
|       Shubham|  23|         2| 18000|
|        Mahesh|NULL|      NULL|  NULL|
|Missing Values|NULL|        10| 40000|
|Missing Values|  34|        10| 38000|
|Missing Values|NULL|      NULL|  NULL|
|Missing Values|  36|      NULL|  NULL|
+--------------+----+----------+------+

In [0]:
df_pyspark1.na.fill(0).show()

+----------+---+----------+------+
|      Name|age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
|Shudhanshu| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
|    Mahesh|  0|         0|     0|
|      NULL|  0|        10| 40000|
|      NULL| 34|        10| 38000|
|      NULL|  0|         0|     0|
|      NULL| 36|         0|     0|
+----------+---+----------+------+

**Filling missing values using Mean, Median, or Mode with help of the Imputer function**

In [0]:
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols=["age"],outputCols=["age_imputed"]).setStrategy("mean")

In [0]:
imputer.fit(df_pyspark1).transform(df_pyspark1).show()

+----------+----+----------+------+-----------+
|      Name| age|Experience|Salary|age_imputed|
+----------+----+----------+------+-----------+
|     Krish|  31|        10| 30000|         31|
|Shudhanshu|  30|         8| 25000|         30|
|     Sunny|  29|         4| 20000|         29|
|      Paul|  24|         3| 20000|         24|
|    Harsha|  21|         1| 15000|         21|
|   Shubham|  23|         2| 18000|         23|
|    Mahesh|NULL|      NULL|  NULL|         28|
|      NULL|NULL|        10| 40000|         28|
|      NULL|  34|        10| 38000|         34|
|      NULL|NULL|      NULL|  NULL|         28|
|      NULL|  36|      NULL|  NULL|         36|
+----------+----+----------+------+-----------+

**Union() using pyspark**

To merge two or more dataframes of same schema or structure union() is used.

In [0]:
data_frame1 = spark.createDataFrame( 
    [("Bhuwanesh", 82.98), ("Harshit", 80.31)], 
    ["Student Name", "Overall Percentage"] 
) 
data_frame2 = spark.createDataFrame( 
    [("Naveen", 91.123), ("Piyush", 90.51)], 
    ["Student Name", "Overall Percentage"] 
) 

answer = data_frame1.union(data_frame2) 

answer.show()

+------------+------------------+
|Student Name|Overall Percentage|
+------------+------------------+
|   Bhuwanesh|             82.98|
|     Harshit|             80.31|
|      Naveen|            91.123|
|      Piyush|             90.51|
+------------+------------------+

**UnionAll()  in PySpark**

In [0]:
answer = data_frame1.unionAll(data_frame2) 
  
# Print the union of both the dataframes 
answer.show()

+------------+------------------+
|Student Name|Overall Percentage|
+------------+------------------+
|   Bhuwanesh|             82.98|
|     Harshit|             80.31|
|      Naveen|            91.123|
|      Piyush|             90.51|
+------------+------------------+

**Merge without Duplicates**

Since the union() method returns all rows without distinct records, we will use
t h**e distinct**() function to return just one record when a duplicate exists.

In [0]:
simpleData = [("James","Sales","NY",90000,34,10000), \
("Michael","Sales","NY",86000,56,20000), \
("Robert","Sales","CA",81000,30,23000), \
("Maria","Finance","CA",90000,24,23000) \
]
columns= ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)
simpleData2 = [("James","Sales","NY",90000,34,10000), \
("Maria","Finance","CA",90000,24,23000), \
("Jen","Finance","NY",79000,53,15000), \
("Jeff","Marketing","CA",80000,25,18000), \
("Kumar","Marketing","NY",91000,50,21000) \
]
columns2= ["employee_name","department","state","salary","age","bonus"]
df2 = spark.createDataFrame(data = simpleData2, schema = columns2)
df2.printSchema()
df2.show(truncate=False)
unionDF = df.union(df2)
unionDF.show(truncate=False)
disDF = df.union(df2).distinct()
disDF.show(truncate=False)
unionAllDF = df.unionAll(df2)
unionAllDF.show(truncate=False)
unionAllDF.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
+-------------+----------+-----+------+---+-----+

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+